@model IntelliPack.DataAccessLayer.Models.Users
<div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Localización Sucursal</h4>
            </div>
            <div class="modal-body">
                <iframe src="@Url.Action("ViewMap", "Home", new { @Id = Model.usersId})" style="height: 280px; overflow: auto; width: 550px"></iframe>
            </div>
            <div class="modal-footer">
                <span id="spnModalConfigInformation" style="color:red;"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>                
            </div>
        </div>
    </div>
</div>




