@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Ha Ocurrido Un error.</h1>
<h2 class="text-danger">El Equipo está revisando el error, intente más tarde.</h2>

